
*{
    box-sizing: border-box;
}
section{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    grid-area: s;
}
article{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
   border: 2px solid black;
   padding: 15px;
   margin: auto;
   text-align: center;
}

nav{
    grid-area: n;
}
img{
    width: 300px;
}
main{
    
    width: 90%;
    grid-template-areas:"n"
                        "h"
                        "s"
                        "f";
    display: grid;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
    grid-area: f;
}
header{
    grid-area: h;
}
@media screen and (max-width:700px){
    section{
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    article{
        width: 80%;
    }
    
}