body {
  background: url("../kepek/background.png");
  background-size: 30%;
  margin: 0;
}

main {
  width: 60%;
  margin: auto;
  color: white;
  border: 3px solid white;
  background-color: #16171e;
  padding-bottom: 15px;
  grid-template-areas:
    "h"
    "n"
    "s"
    "f";
  display: grid;
}

nav {
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0;
  list-style: none;
  grid-template-columns: 150px 150px 150px 150px;
  display: grid;
  margin: 0;
}

li {
  padding: 20px 0px 20px 0px;
  text-align: center;
  transition: 1s;
  margin-left: 20px; 
}

li:hover {
  background-color: #232530;
  transition: 1s;
}

section {
  padding: 10px;
  margin: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  grid-area: s;
}

article {
  clear: both;
  width: 70%;
  display: grid;
  grid-template-columns: auto;
  border: 2px solid black;
  padding: 15px;
  margin: auto;
  text-align: center;
  background-color: #232530;
}

article ul{
  list-style-type: circle;
  grid-template-columns: 1fr;
  margin: auto;
  font-size: large;
}

.szoveg{
  text-align: justify;
  font-size: large;
}
.fokep{
  margin: auto;
  text-align: center;
}
.fokep img{
  max-width: 90%;
}

@media screen and (max-width: 1100px) {
  ul{
    grid-template-columns: 1fr;
  }
  li{
    margin: 0;
  }
  section {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
  
  article {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  nav{
    max-width: 100%;
  }
}